# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.spec

# VS Code
.vscode/

# PyInstaller
build/
dist/
*.exe

# Application Data
data/daily_log.json
data/settings.json
data/journal_*.json
assets/background.*

# System
Thumbs.db
